        <!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            <span id="first-name">Kevin</span>
            <span id="last-name" class="text-primary">Royer</span>
        </h1>
        <div id="subtitle" class="subheading mb-5">
            WEB DEVELOPER | KANSAS CITY |
            <a href="mailto:name@email.com">royerkevin@outlook.com</a>
        </div>
        <p id="intro" class="lead mb-5">I am a web developer based in Kansas City.  I love all things programming and I've been studying full-stack development at Centriq Training.  Previously, my entire professional career was spent in the service-industry.  From server to General Manager,  I learned a great-deal about customer-service, troubleshooting in a fast-paced environment, and the challenges of running a small business.  Unfortunately, every day started to seem the same.  I sought a new challenge in web-development and I haven't looked back!  I love it.  When I'm not learning or coding, I enjoy nerding out on my trombone and hanging out with my 17-year-old dog Mingus. </p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/kevin-royer-4133641a8/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="http://www.github.com/royer00"><i class="fab fa-github"></i></a>
            <a class="social-icon" href=" https://www.twitter.com/KevinRo01526237"><i class="fab fa-twitter"></i></a>
            <a class="social-icon" href="https://www.facebook.com/kevin.royer.129" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</section>
<hr class="m-0" />
<!-- Experience-->
<section class="resume-section" id="resume">
    <div class="resume-section-content">
        <h2 class="mb-5">Resume</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h4>I'm always looking for interesting employment or any opportunity to grow!  Please take a look at my resume and see if I might be a good match for your business.</h4>
                <!--view resume-->
                <button id="contact-btn" class="btn btn-dark" style="display: block; border-radius: 10px; height: 2em; width: 8em; padding-bottom: 1em; padding-top: .2em;">View Resume </button>
                <!--Resume download-->
                <a href="~/Content/assets/img/finalResume.pdf" id="resume-button" class="btn btn-dark" style="display: block; height: 2em; width: 8em; font-size: 1em; padding-top: .2em; border-radius: 10px;" download>
                    Download
                </a>
            </div>
        </div>
    </div>
</section>
<hr class="m-0" />
<section class="resume-section" id="portfolio">
    <div class="resume-section-content">
        <h2 class="mb-5">Portfolio</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <div class="row">
                    <div class="col-md-4">
                        <a href="http://fsdp.kevinroyer.net" target="_blank">
                            <div class="card bg-dark h-100 btn-dark project-card">
                                <img class="card-img-top" src="~/Content/assets/img/final_project.jpg" alt="Final Project Picture" />
                                <div class="card-body">
                                    <h3 class="card-title" style="color: white;">Final Project</h3>
                                    <p class="card-text">This project was my final, capstone project at Centriq Training.  It is a reservation system for a fictional dog-kennel, utilizing MVC.  This dog <em>will</em> hunt.</p>
                                </div>
                            </div>
                        </a>
                       
                    </div>
                    <div class="col-md-4">
                        <a href="http://storefront.kevinroyer.net" target="_blank">
                            <div class="card bg-dark h-100 btn-dark project-card">
                                <img class="card-img-top" src="~/Content/assets/img/beer.jpg" />
                                <div class="card-body">
                                    <h3 class="card-title" style="color: white;">The Beer Spot</h3>
                                    <p class="card-text">This is a storefront MVC application with a working shopping-cart and CRUD functionality.  Now if I only had the beer...</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://satapp.kevinroyer.net" target="_blank">
                            <div class="card bg-dark h-100 btn-dark project-card">
                                <img class="card-img-top" src="~/Content/assets/img/sat.png" />
                                <div class="card-body">
                                    <h3 class="card-title" style="color: white;">SAT Application</h3>
                                    <p class="card-text">An SAT scheduling application developed using AGILE and pair-programming.  It was done in just a few hours.  C'mon scholarships...</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row mt-5">
                    <!--HTML/CSS Card-->
                    @*<div class="col-md-3">
                            <a href="http://htmlandcsssite.kevinroyer.net">
                                <div class="card bg-dark h-100 btn-dark project-card">
                                    <img class="card-img-top" src="~/Content/assets/img/personal_site_Fed1.png" alt="CSS/HTML Website picture" />
                                    <div class="card-body">
                                        <h3 class="card-title" style="color: white;">
                                            HTML/CSS Site
                                        </h3>
                                        <p class="card-text">
                                            This was one of my first attempts at using CSS/HTML.  So much fun!
                                        </p>
                                    </div>
                                </div>
                            </a>

                        </div>*@

                    <div class="col-md-4">
                        <a href="http://www.github.com/royer00/Dungeon2_28_20" target="_blank">
                            <div class="card bg-dark h-100 btn-dark project-card">
                                <img class="card-img-top" src="~/Content/assets/img/d&d.jpg">
                                <div class="card-body">
                                    <h3 class="card-title" style="color: white;">Dungeon Game</h3>
                                    <p class="card-text">This was my first project involving C#.  It is a simple RPG console application, where you fight various monsters and get quest items to win.  Try not to get too scared...</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://htmlandcsssite.kevinroyer.net" target="_blank">
                            <div class="card bg-dark h-100 btn-dark project-card">
                                <img class="card-img-top" src="~/Content/assets/img/personal_site_Fed1.png" />
                                <div class="card-body">
                                    <div class="card-title">
                                        <h3 style="color: white;">HTML/CSS Site</h3>
                                        <p class="card-text">
                                            This was one of my first attempts at using CSS/HTML.  So much fun!
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<hr class="m-0" />
<!-- Skills-->
<section class="resume-section" id="students">
    <div class="resume-section-content">
        <h2 class="mb-5">Students</h2>
        <div class="subheading mb-3">Great classmates I've been working with.  Click their pic to see their awesome websites!</div>

        <!--slideshow-->
        <div id="slideshow-start" class="card" style="box-shadow:#bd5d38 5px 5px; ">
            <div class="card-body bg-dark">
                <div class="slideshow">

                    <div class="slideshow-prev"></div>
                    <div class="slideshow-next"></div>
                    <div class="slideshow-controls">
                        <div class="slideshow-resume"></div>
                        <div class="slideshow-pause"></div>
                    </div>

                    <a href="http://www.jacksondekeyser.com" target="_blank" alt="website of jacksondekeyser"><img src="~/Content/assets/img/jacksonpiccarousel.png" alt="picture of Jackson Dekeyser" title="Jackson Dekeyser" /></a>

                    <a href="http://www.thehendersoncollective.net" target="_blank" alt="website of James Henderson"><img src="~/Content/assets/img/jameshendersonpiccarousel.jpg" alt="picture of James Henderson" title="James Henderson" /></a>

                    <a href="http://www.dereksym.com" taget="_blank" alt="website of Derek Sym"><img src="~/Content/assets/img/dereksympiccarousel.jpg" alt="picture of Derek Sym" title="Derek Sym" /></a>

                    <a href="#"><img src="~/Content/assets/img/anthonyevanspiccarousel.jpg" title="Anthony Evans" alt="picture of Anthony Evans" /></a>

                    <a href="http://www.atruhe.com" target="_blank" alt="website of Anthony Truhe">  <img src="~/Content/assets/img/truhewebcarouselpic.jpg" alt="picture of Anthony Truhe" title="Anthony Truhe" /></a>

                    <a href="http://www.michael-dean.net" target="_blank" alt="website of Michael Dean"><img src="~/Content/assets/img/MikeDeanCarousel.png" title="Mike Dean" alt="picture of Michael Dean" /></a>

                    <div class="slideshow-caption"></div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="resume-section" id="students-mobile">
    <!--card layout for mobile-->
    <div class="resume-section-content">
        <div class="row">
            <div class="col-md-3">
                <a href="http://www.atruhe.com" target="_blank" alt="website of Anthony Truhe">
                    <div class="card text-center small-card">
                        <div id="card" class="card-body bg-dark small-card">
                            <h4 style="color:white;">Anthony Truhe</h4>
                            <div>
                                <img src="~/Content/assets/img/truhewebcardpic.jpg" alt="Picture of Anthony Truhe" />
                            </div>
                        </div>
                    </div>
                </a>
                <a href="http://www.thehendersoncollective.net" target="_blank" alt="website of James Henderson">
                    <div class="card text-center">
                        <div class="card-body bg-dark small-card">
                            <h4 style="color: white;">James Henderson</h4>
                            <div>
                                <img src="~/Content/assets/img/jameshendersonpicwebpic.png" alt="Picture of James Henderson" />
                            </div>
                        </div>

                    </div>
                </a>
                <a href="http://www.jacksondekeyser.com" target="_blank" alt="website of Jackson Dekeyser">
                    <div class="card text-center">
                        <div class="card-body bg-dark small-card">
                            <h4 style="color: white;">Jackson Dekeyser</h4>
                            <div>
                                <img src="~/Content/assets/img/Jacksonpiccardfinal.jpg" alt="Picture of Jackson Dekeyser " />
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="http://www.dereksym.com" target="_blank" alt="website of Derek">
                    <div class="card text-center">
                        <div class="card-body bg-dark small-card">
                            <h4 style="color: white;">Derek Sym</h4>

                            <div>
                                <img src="~/Content/assets/img/dereksympic.jfif" alt="picture of Derek Sym" />
                            </div>
                        </div>
                    </div>
                </a>
                <a href="http://www.michael-dean.net" target="_blank" alt="website of Mike">
                    <div class="card text-center">
                        <div class="card-body bg-dark small-card">
                            <h4 style="color: white;"> Mike Dean</h4>
                            <div>

                                <img src="~/Content/assets/img/MikeDeanCard.png" alt="picture of Michael Dean" />
                            </div>

                        </div>
                    </div>
                </a>
                <a href="http://www.a-evans.com" target="_blank" alt="website of Anthony Evans">
                    <div class="card text-center">
                        <div class="card-body bg-dark small-card">
                            <h4 style="color: white;"> Anthony Evans</h4>
                            <div>
                                <img src="~/Content/assets/img/anthonyevanspic.jfif" alt="Picture of Anthony Evans" />
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<hr class="m-0" />
<!-- Interests-->
<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <h3>A collection of links to things I love and/or find useful</h3>
        <div id="accordion" style="font-family: roboto, sans-serif; background-color: #bd5d38;">
            <h3>Programming Websites</h3>
            <div>
                <ul>
                    <li>
                        <a href=" http://www.css-tricks.com" target="_blank">
                            <span class="my-links">CSS-Tricks</span> - A great website for explaining complicated CSS effects.
                        </a>
                    </li>
                    <li>
                        <a href=" http://www.scottlilly.com" target="_blank">
                            <span class="my-links">Scott Lilly</span> - He's written a ton of great articles about C#.
                        </a>
                    </li>
                    <li>
                        <a href=" http://www.wtfjs.com" target="_blank">
                            <span class="my-links">wtfjs</span> - A site dedicated to all of those weird js idiosyncrasies.  There seem to be a lot for me.
                        </a>
                    </li>
                    <li>
                        <a href="http://www.w3schools.com" target="_blank"><span class="my-links">W3Schools</span> - A ton of great exercises and info on multiple programming languages.</a>
                    </li>
                    <li>
                        <a href="http://www.stackoverflow.com" target="_blank"><span class="my-links">Stack Overflow</span> - Obviously</a>
                    </li>
                    <li>
                        <a href="http://www.freecodecamp.com" target="_blank"><span class="my-links">FreeCodeCamp.com</span> - tremendous free website for learning to code</a>
                    </li>
                </ul>
            </div>
            <h3>Jazz and Other Music</h3>
            <div>
                <ul>
                    <li>
                        <a href="http://www.greenladylounge.com" target="_blank"><span class="my-links">Green Lady Lounge</span> - Presently the best place to hear live jazz in the city.</a>
                    </li>
                    <li>
                        <a href="http://www.americanjazzmuseum.org" target="_blank"><span class="my-links">The American Jazz Museum</span> - It's amazing.  It also has an adjoining jazz club called "The Blue Room" (yes, they serve drinks)</a>
                    </li>
                    <li>
                        <a href="http://www.knuckleheadskc.com" target="_blank"><span class="my-links">Knuckleheads</span> - A music venue with great blues and country.</a>
                    </li>
                    <li>
                        <a href="http://www.bbslawnsidebbq.com" target="_blank"><span class="my-links">BB's Lawnside BBQ</span> - Great live blues and pretty good food too.</a>
                    </li>
                    <li>
                        <a href="http://www.jazzadvice.com" target="_blank">
                            <span class="my-links">JazzAdvice</span> - An amazing website for learning jazz improvisation.
                        </a>
                    </li>
                    <li>
                        <a href="http://www.millsrecordcompany.com" target="_blank">
                            <span class="my-links">Mills Record Company</span> - A great selection of vinyl.
                        </a>
                    </li>
                    <li>
                        <a href="http://www.coolisbac.com" target="_blank">
                            <span class="my-links">BAC Music</span> - Making some of the best trombones in the world, right here in Kansas City.
                        </a>
                    </li>
                </ul>
            </div>
            <h3>Places to Eat and Drink</h3>
            <div>
                <ul>
                    <li>
                        <a href="http://www.joeskc.com" target="_blank"><span class="my-links">Joes Kansas City</span> aka "Oklahoma Joe's" - The best barbeque in town.</a>
                    </li>
                    <li>
                        <a href="http://www.kmachos.com" target="_blank"><span class="my-links">KMacho's</span> - My favorite Mexican joint.</a>
                    </li>
                    <li>
                        <a href="http://www.peanutmidwest.com" target="_blank"><span class="my-links">The Peanut</span> - The best bar-food in Kansas City.  Full Disclosure: I used to work there.</a>
                    </li>
                    <li>
                        <a href="http://www.thepressedpennytavern.com" target="_blank"><span class="my-links">The Pressed Penny Tavern</span> - One of the best places in town to grab a cocktail.</a>
                    </li>
                    <li>
                        <a href="http://www.bakdogbar.com"><span class="my-links">Bar K</span> - If you have a dog, this is a great way to spend an afternoon.</a>
                    </li>
                    <li>
                        <a href="http://www.cornercocktails.weebly.com"><span class="my-links">Walsh's Corner Cocktails</span> - A great little dive bar with one of the best burgers in town.</a>
                    </li>
                </ul>
            </div>
            <h3>My Teams</h3>
            <div>
                <ul>
                    <li>
                        <a href="http://www.chiefs.com"><span class="my-links">THE CHIEFS</span>- reigning superbowl champs with the best quarterback on the planet.</a>
                    </li>
                    <li>
                        <a href="http://www.royals.com">
                            <span class="my-links">THE ROYALS</span> - We're up, we're down, but we try really hard
                        </a>
                    </li>
                    <li>
                        <a href="http://www.kuathletics.com">
                            <span class="my-links"> THE KANSAS JAYHAWKS</span> - I love football(hard to watch) and basketball(easy to watch).
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mt-7">
            <h3 class="mt-5">My Vinyl Collection</h3>
            <h6 style="font-weight: 700;">I love music, particularly when played on vinyl.</h6>
            <h6> Please feel free to drop me some suggestions on what to get next...</h6>
            <input type="button" id="table-button" class="btn btn-dark mb-2" value="See my records" />
            <div id="hidetable">
                <table id="myTable">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Duke Ellington & John Coltrane</td>
                            <td>Duke Ellington & John Coltrane</td>
                            <td>1963</td>
                        </tr>
                        <tr>
                            <td>Cornbread</td>
                            <td>Lee Morgan</td>
                            <td>1962</td>
                        </tr>
                        <tr>
                            <td>Takin' Off</td>
                            <td>Herbie Hancock</td>
                            <td>1962</td>
                        </tr>
                        <tr>
                            <td>Maiden Voyage</td>
                            <td>Herbie Hancock</td>
                            <td>1965</td>
                        </tr>
                        <tr>
                            <td>Charlie Parker w/ Strings</td>
                            <td>Charlie Parker</td>
                            <td>1951</td>
                        </tr>
                        <tr>
                            <td>GO</td>
                            <td>Dexter Gordon</td>
                            <td>1962</td>
                        </tr>
                        <tr>
                            <td>Two Sides Of Slide</td>
                            <td>Slide Hampton</td>
                            <td>1961</td>
                        </tr>
                        <tr>
                            <td>Moanin'</td>
                            <td>Art Blakey and The Jazz Messengers</td>
                            <td>1959</td>
                        </tr>
                        <tr>
                            <td>Three Blind Mice</td>
                            <td>Art Blakey and The Jazz Messengers</td>
                            <td>1962</td>
                        </tr>
                        <tr>
                            <td>Tenor Madness</td>
                            <td>Sonny Rollins</td>
                            <td>1956</td>
                        </tr>
                        <tr>
                            <td>Misterioso</td>
                            <td>Thelonious Monk</td>
                            <td>1958</td>
                        </tr>
                        <tr>
                            <td>My Funny Valentine</td>
                            <td>Miles Davis</td>
                            <td>1964</td>
                        </tr>
                        <tr>
                            <td>Steamin</td>
                            <td>Miles Davis</td>
                            <td>1961</td>
                        </tr>
                        <tr>
                            <td>Walkin</td>
                            <td>Miles Davis</td>
                            <td>1954</td>
                        </tr>
                        <tr>
                            <td>Relaxin</td>
                            <td>Miles Davis</td>
                            <td>1958</td>
                        </tr>
                        <tr>
                            <td>Kind Of Blue</td>
                            <td>Miles Davis</td>
                            <td>1959</td>
                        </tr>
                        <tr>
                            <td>My Favorite Things</td>
                            <td>John Coltrane</td>
                            <td>1961</td>
                        </tr>
                        <tr>
                            <td>The Eminent Jay Jay Johnson Vol 1 + 2</td>
                            <td>JJ Johnson</td>
                            <td>1955</td>
                        </tr>
                        <tr>
                            <td>Saxophone Colossus</td>
                            <td>Sonny Rollins</td>
                            <td>1957</td>
                        </tr>
                        <tr>
                            <td>The Opener</td>
                            <td>Curtis Fuller</td>
                            <td>1957</td>
                        </tr>
                        <tr>
                            <td>Know What I Mean?</td>
                            <td>Cannonball Adderley</td>
                            <td>1962</td>
                        </tr>
                        <tr>
                            <td>Work Song</td>
                            <td>Nat Adderley</td>
                            <td>1960</td>
                        </tr>
                        <tr>
                            <td>Somethin' Else</td>
                            <td>Cannonball Adderley</td>
                            <td>1958</td>
                        </tr>
                        <tr>
                            <td>The Moontrane</td>
                            <td>Woody Shaw</td>
                            <td>1975</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<hr class="m-0" />
@*<div id="small-resume">
        <iframe src="~/Content/assets/img/finalResume.pdf" width="100%" height="100%"></iframe>

    </div>*@

<div id="modal" class="cool-modal">
    <div class="modal-content">
        <span id="closebtn" class="close">&times;</span>
        <iframe id="resume-iframe" src="~/Content/assets/img/finalResume.pdf#zoom=25"></iframe>
    </div>
</div>





